.App {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.grid {
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
  height: 600px;
  width: 700px;
  display: flex;
  flex-wrap: wrap;
  background-color: #44c7e3;
  border-bottom: 5px solid #2ec0e0;
}

.grid-cell {
  border-radius: 50%;
  height: 90px;
  width: 90px;
  margin: 5px;
  background-color: white;
}

.cell-red {
  border-radius: 50%;
  height: 90px;
  width: 90px;
  margin: 5px;
  background-color: #d22626;
}

.cell-yellow {
  border-radius: 50%;
  height: 90px;
  width: 90px;
  margin: 5px;
  background-color: #fff62f;
}

/* .cell-pre-red {
  border-radius: 50%;
  height: 90px;
  width: 90px;
  margin: 5px;
  background-color: #f8d8d8;
}

.cell-pre-yellow {
  border-radius: 50%;
  height: 90px;
  width: 90px;
  margin: 5px;
  background-color: #fffdcc;
} */

.trapezoid {
  border-bottom: 50px solid #44c7e3;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  width: 750px;
}
